*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/vcs.xml
/checklist/mango_config.json
/checklist/component_version.json
/moduleSource/*
/translator.py
/node_modules
/package-lock.json
/package.json
/.env
**/bin/
.vscode
**/.kotlin
*.jks
*.txt